# Dependencies
node_modules/

# Angular
.angular/
dist/

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build/cache
coverage/

# Environment
src/environments/*.local.ts